In [31]:
import pandas as pd
import os
# Area 17 - Venutra county
# Rename the input file to Ventura MM.DD.YYYY

#read files
file_path = "../Input_Files/Ventura 03.09.2024.xlsx"
df = pd.read_excel(file_path, skiprows=8)
df.columns = ['Note', 'SVC_CD', 'Modifier_1', 'FEE','Non_Par_Fee', 'Limiting_Charge_Fee']

#Drop the last two columns 
df.drop(['Non_Par_Fee', 'Limiting_Charge_Fee'], axis=1, inplace=True)

#Split the date
date_part = file_path.split(" ")[-1].split(".")  
split_date = '-'.join(date_part[0:3])
month, day, year = split_date.split('-')
if len(year) == 2:
    year = '20' + year
date = f'{month}-{day}-{year}'

# Create a directory named after the date if it doesn't exist
if not os.path.exists(f'../Output_Files/{year}/{date}'):
    os.makedirs(f'../Output_Files/{year}/{date}')    

#Fill 'Note' Column with ab in place in NaN and add 'ASOFDATE'
df['Note'] = df['Note'].fillna('ab')
df['ASOFDATE'] = date

# Create two new dataframes based on the condition
df_normal = df[df['Note'].str.contains('ab')]
df_op = df[~df['Note'].str.contains('ab')]

#Drop the 'Note' Column
df_normal.drop(['Note'], axis=1, inplace=True)
df_op.drop(['Note'], axis=1, inplace=True)


df_normal.to_csv(f'../Output_Files/{year}/{date}/MCare_Ven.{date}.txt', sep='|', index=False)
df_op.to_csv(f'../Output_Files/{year}/{date}/MCare_Ven_OP.{date}.txt', sep='|', index=False)
   
#final_df_a.shape
print("code executed succesfully")
display(df_op)
display(df_normal)

code executed succesfully

C:\Users\skrishnan\AppData\Local\Temp\ipykernel_21640\1942876209.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_normal.drop(['Note'], axis=1, inplace=True)
C:\Users\skrishnan\AppData\Local\Temp\ipykernel_21640\1942876209.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_op.drop(['Note'], axis=1, inplace=True)

      SVC_CD Modifier_1     FEE    ASOFDATE
1      G0011        NaN   23.85  03-09-2024
4      G0013        NaN    9.26  03-09-2024
6      G0017        NaN  195.48  03-09-2024
8      G0018        NaN   97.89  03-09-2024
10     G0019        NaN   52.99  03-09-2024
...      ...        ...     ...         ...
11113  99494        NaN   43.50  03-09-2024
11115  99495        NaN  148.25  03-09-2024
11117  99496        NaN  201.36  03-09-2024
11119  99497        NaN   79.76  03-09-2024
11121  99498        NaN   75.10  03-09-2024

[2109 rows x 4 columns]

      SVC_CD Modifier_1     FEE    ASOFDATE
0      G0011        NaN   28.62  03-09-2024
2      G0012        NaN   16.06  03-09-2024
3      G0013        NaN   26.74  03-09-2024
5      G0017        NaN  226.88  03-09-2024
7      G0018        NaN  112.20  03-09-2024
...      ...        ...     ...         ...
11112  99494        NaN   65.76  03-09-2024
11114  99495        NaN  229.73  03-09-2024
11116  99496        NaN  310.66  03-09-2024
11118  99497        NaN   88.51  03-09-2024
11120  99498        NaN   75.90  03-09-2024

[9013 rows x 4 columns]