In [1]:
import zipfile
import pandas as pd
import re
from datetime import datetime
import os

zip_file_name = 'dme24d.zip'
zip_file_path = f"../Input_Files/{zip_file_name}"

# Flag to check if the file is found
file_found = False

# Open the ZIP file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    for file_name in zip_ref.namelist():
        # Check if the file name contains 'DMEPOS' and .xlsx extension
        if 'DMEPOS' in file_name and file_name.endswith('.xlsx'):
            with zip_ref.open(file_name) as file:
                df_dmepos = pd.read_excel(file,skiprows=6,usecols=[0, 1, 2, 13])
                file_found = True
                break

# Check if the file was found
if file_found:
    print(f"File found and loaded successfully: '{file_name}'")
else:
    print("No file containing 'DMEPOS' with .xlsx extension was found in the ZIP archive.")

File found and loaded successfully: 'DMEPOS_OCT.xlsx'

In [2]:
# Create AS_OF_DATE from zip file name

date_match = re.search(r'(\d{2})([a-d])', zip_file_name)

if date_match:
    year, letter = date_match.groups()
    month_assignments = {'A': 1, 'B': 4, 'C': 7, 'D': 10, 'a': 1, 'b': 4, 'c': 7, 'd': 10}
    month = month_assignments[letter]
    as_date = f'{month}/1/{year}'
else:
    as_date = None
    
print(f"AS_OF_DATE for the File is : '{as_date}'")

AS_OF_DATE for the File is : '10/1/24'

In [3]:
print(as_date)

10/1/24

In [4]:
# Creating an empty DataFrame with columns
columns = ["SVC_CD", "MODIFIER_1", "MODIFIER_2", "MODIFIER_3", "MODIFIER_4", "FEE", "AS_OF_DATE", "AGE_UNIT", "FROM_AGE", "THROUGH_AGE", "PLACE_OF_SERVICE_CODE"]
df_dmepos_new = pd.DataFrame(columns=columns)

# Mapping the new DataFrame
df_dmepos_new["SVC_CD"] = df_dmepos["HCPCS"]
df_dmepos_new["MODIFIER_1"] = df_dmepos["Mod"]
df_dmepos_new["MODIFIER_2"] = df_dmepos["Mod2"]
df_dmepos_new["FEE"] = df_dmepos["CA (NR)"]

# Additional columns in the new DataFrame 
df_dmepos_new["MODIFIER_3"] = ""
df_dmepos_new["MODIFIER_4"] = ""
df_dmepos_new["AS_OF_DATE"] =  as_date
df_dmepos_new["AGE_UNIT"] = ""
df_dmepos_new["FROM_AGE"] = ""
df_dmepos_new["THROUGH_AGE"] = ""
df_dmepos_new["PLACE_OF_SERVICE_CODE"] = ""

In [5]:
# Ensure the directory exists
output_directory = f'../Output_Files/DME'
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

as_date_cleaned = as_date.replace('/', '-')
# Save the DataFrame to an Excel file
# df_dmepos_new.to_excel(f'{output_directory}/MCare_DME_{as_date_cleaned}.xlsx', index=False)
df_dmepos_new.to_csv(f'{output_directory}/MCare_DME_{as_date_cleaned}.txt', sep='|', index=False)

In [6]:
df_dmepos_new.head()

,SVC_CD,MODIFIER_1,MODIFIER_2,MODIFIER_3,MODIFIER_4,FEE,AS_OF_DATE,AGE_UNIT,FROM_AGE,THROUGH_AGE,PLACE_OF_SERVICE_CODE
0,A4216,NaN,NaN,,,0.61,10/1/24,,,,
1,A4217,NaN,NaN,,,3.64,10/1/24,,,,
2,A4217,AU,NaN,,,3.64,10/1/24,,,,
3,A4221,NaN,NaN,,,24.46,10/1/24,,,,
4,A4222,NaN,NaN,,,46.39,10/1/24,,,,