In [1]:
import pandas as pd
import os
# Area 17 - LA county
# Rename the input file to LA MM.DD.YYYY

#read files
file_path = "../Input_Files/LA 10.01.2024.xlsx"
df = pd.read_excel(file_path, skiprows=8)
df.columns = ['Note', 'SVC_CD', 'Modifier_1', 'FEE','Non_Par_Fee', 'Limiting_Charge_Fee']

#Drop the last two columns 
df.drop(['Non_Par_Fee', 'Limiting_Charge_Fee'], axis=1, inplace=True)

#Split the date
date_part = file_path.split(" ")[-1].split(".")  
split_date = '-'.join(date_part[0:3])
month, day, year = split_date.split('-')
if len(year) == 2:
    year = '20' + year
date = f'{year}{month}{day}'
date1=f'{year}-{month}-{day}'
# Create a directory named after the date if it doesn't exist
if not os.path.exists(f'../Output_Files/{year}/{date}'):
    os.makedirs(f'../Output_Files/{year}/{date}')    

#Fill 'Note' Column with ab in place in NaN and add 'ASOFDATE'
df['Note'] = df['Note'].fillna('ab')
df['ASOFDATE'] = date

# Create two new dataframes based on the condition
df_normal = df[df['Note'].str.contains('ab')]
df_op = df[~df['Note'].str.contains('ab')]

#Drop the 'Note' Column
df_normal.drop(['Note'], axis=1, inplace=True)
df_op.drop(['Note'], axis=1, inplace=True)


df_normal.to_csv(f'../Output_Files/{year}/{date}/MCare_LA.{date1}.txt', sep='|', index=False)
df_op.to_csv(f'../Output_Files/{year}/{date}/MCare_LA_OP.{date1}.txt', sep='|', index=False)
   
#final_df_a.shape
print("code executed succesfully")
display(df_op)
display(df_normal)

code executed succesfully

C:\Users\skrishnan\AppData\Local\Temp\ipykernel_15080\1333244557.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_op.drop(['Note'], axis=1, inplace=True)

Empty DataFrame
Columns: [SVC_CD, Modifier_1, FEE, ASOFDATE]
Index: []

  SVC_CD  Modifier_1    FEE  ASOFDATE
0  G9037         NaN  44.14  20241001
1  G9038         NaN  55.02  20241001