In [4]:
import pandas as pd
import os
# Area 17 - LA county
# Rename the input file to LA MM.DD.YYYY

#read files
file_path = "../Input_Files/LA 01.01.2025.xlsx"
df = pd.read_excel(file_path, skiprows=8)
df.columns = ['Note', 'SVC_CD', 'Modifier_1', 'FEE','Non_Par_Fee', 'Limiting_Charge_Fee']

#Drop the last two columns 
df.drop(['Non_Par_Fee', 'Limiting_Charge_Fee'], axis=1, inplace=True)

#Split the date
date_part = file_path.split(" ")[-1].split(".")  
split_date = '-'.join(date_part[0:3])
month, day, year = split_date.split('-')
if len(year) == 2:
    year = '20' + year
date = f'{year}{month}{day}'
date1=f'{year}-{month}-{day}'
# Create a directory named after the date if it doesn't exist
if not os.path.exists(f'../Output_Files/{year}/{date}'):
    os.makedirs(f'../Output_Files/{year}/{date}')    

#Fill 'Note' Column with ab in place in NaN and add 'ASOFDATE'
df['Note'] = df['Note'].fillna('ab')
df['ASOFDATE'] = date

# Create two new dataframes based on the condition
df_normal = df[df['Note'].str.contains('ab')]
df_op = df[~df['Note'].str.contains('ab')]

#Drop the 'Note' Column
df_normal.drop(['Note'], axis=1, inplace=True)
df_op.drop(['Note'], axis=1, inplace=True)


df_normal.to_csv(f'../Output_Files/{year}/{date}/MCare_LA.{date1}.txt', sep='|', index=False)
df_op.to_csv(f'../Output_Files/{year}/{date}/MCare_LA_OP.{date1}.txt', sep='|', index=False)
   
#final_df_a.shape
print("code executed succesfully")
display(df_op)
display(df_normal)

code executed succesfully

C:\Users\skrishnan\AppData\Local\Temp\ipykernel_25208\1666103647.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_normal.drop(['Note'], axis=1, inplace=True)
C:\Users\skrishnan\AppData\Local\Temp\ipykernel_25208\1666103647.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_op.drop(['Note'], axis=1, inplace=True)

      SVC_CD Modifier_1     FEE  ASOFDATE
1      G0011        NaN   25.34  20250101
4      G0013        NaN    8.86  20250101
6      G0017        NaN  187.84  20250101
8      G0018        NaN   93.79  20250101
10     G0019        NaN   50.14  20250101
...      ...        ...     ...       ...
11185  99494        NaN   41.07  20250101
11187  99495        NaN  141.76  20250101
11189  99496        NaN  192.44  20250101
11191  99497        NaN   76.38  20250101
11193  99498        NaN   72.29  20250101

[2117 rows x 4 columns]

      SVC_CD Modifier_1     FEE  ASOFDATE
0      G0011        NaN   28.40  20250101
2      G0012        NaN   15.42  20250101
3      G0013        NaN   25.70  20250101
5      G0017        NaN  219.60  20250101
7      G0018        NaN  107.95  20250101
...      ...        ...     ...       ...
11184  99494        NaN   61.35  20250101
11186  99495        NaN  220.97  20250101
11188  99496        NaN  299.20  20250101
11190  99497        NaN   84.80  20250101
11192  99498        NaN   72.68  20250101

[9077 rows x 4 columns]